body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
}

/* Light Mode */
body.light {
    background: #f2f2f2;
    color: black;
}

.container {
    padding: 20px;
}

/* Glass Card */
.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    margin: 15px 0;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    text-align: center;
}

/* Profile Image */
.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid cyan;
}

/* Project Card */
.project-card {
    background: rgba(0,0,0,0.3);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.project-card:hover {
    background: cyan;
    color: black;
}

/* Input */
input, textarea {
    width: 90%;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: none;
}

/* Button */
button {
    background: cyan;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* Toggle Button */
.toggle {
    position: fixed;
    top: 10px;
    right: 10px;
}
