body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: white;
}

/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
}

/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
}

.hero img {
    width: 120px;
    border-radius: 50%;
    border: 3px solid cyan;
}

.hero span {
    color: cyan;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: cyan;
    color: black;
    border-radius: 20px;
}

/* CARD */
.card {
    margin: 30px auto;
    width: 90%;
    max-width: 800px;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
}

/* SKILLS */
.skill {
    margin: 10px 0;
}

.skill div {
    background: #333;
    border-radius: 10px;
}

.skill div div {
    height: 10px;
    background: cyan;
}

/* PROJECT GRID */
.projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.project img {
    width: 100%;
    border-radius: 10px;
}

.project {
    padding: 10px;
    background: rgba(0,0,0,0.3);
    border-radius: 10px;
}

/* FORM */
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

/* LIGHT MODE */
.light {
    background: white;
    color: black;
}
